Web References/netsuite.webservices/employees0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:platformCoreTyp="urn:types.core_2018_2.platform.webservices.netsuite.com" xmlns:platformCommonTyp="urn:types.common_2018_2.platform.webservices.netsuite.com" xmlns:tranEmpTyp="urn:types.employees_2018_2.transactions.webservices.netsuite.com" xmlns:platformCommon="urn:common_2018_2.platform.webservices.netsuite.com" xmlns:tranEmp="urn:employees_2018_2.transactions.webservices.netsuite.com" xmlns:platformCore="urn:core_2018_2.platform.webservices.netsuite.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:employees_2018_2.transactions.webservices.netsuite.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://webservices.netsuite.com/xsd/platform/v2018_2_0/core.xsd" namespace="urn:core_2018_2.platform.webservices.netsuite.com" />
  <xsd:import schemaLocation="https://webservices.netsuite.com/xsd/platform/v2018_2_0/common.xsd" namespace="urn:common_2018_2.platform.webservices.netsuite.com" />
  <xsd:import schemaLocation="https://webservices.netsuite.com/xsd/transactions/v2018_2_0/employeeTypes.xsd" namespace="urn:types.employees_2018_2.transactions.webservices.netsuite.com" />
  <xsd:element name="TimeBill" type="tranEmp:TimeBill" />
  <xsd:complexType name="TimeBill">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="employee" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="approvalStatus" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="customer" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="caseTaskEvent" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="isBillable" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="payrollItem" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="paidExternally" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="workplace" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="hours" type="platformCore:Duration" />
          <xsd:element minOccurs="0" name="price" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="timeType" type="tranEmpTyp:TimeBillTimeType" />
          <xsd:element minOccurs="0" name="rate" type="xsd:double" />
          <xsd:element minOccurs="0" name="overrideRate" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="temporaryLocalJurisdiction" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="temporaryStateJurisdiction" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="rejectionNote" type="xsd:string" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="supervisorApproval" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="timeSheet" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="status" type="xsd:string" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="timeBillSearch" type="tranEmp:TimeBillSearch" />
  <xsd:complexType name="TimeBillSearch">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="basic" type="platformCommon:TimeBillSearchBasic" />
          <xsd:element minOccurs="0" name="callJoin" type="platformCommon:PhoneCallSearchBasic" />
          <xsd:element minOccurs="0" name="caseJoin" type="platformCommon:SupportCaseSearchBasic" />
          <xsd:element minOccurs="0" name="chargeJoin" type="platformCommon:ChargeSearchBasic" />
          <xsd:element minOccurs="0" name="classJoin" type="platformCommon:ClassificationSearchBasic" />
          <xsd:element minOccurs="0" name="customerJoin" type="platformCommon:CustomerSearchBasic" />
          <xsd:element minOccurs="0" name="departmentJoin" type="platformCommon:DepartmentSearchBasic" />
          <xsd:element minOccurs="0" name="employeeJoin" type="platformCommon:EmployeeSearchBasic" />
          <xsd:element minOccurs="0" name="eventJoin" type="platformCommon:CalendarEventSearchBasic" />
          <xsd:element minOccurs="0" name="itemJoin" type="platformCommon:ItemSearchBasic" />
          <xsd:element minOccurs="0" name="jobJoin" type="platformCommon:JobSearchBasic" />
          <xsd:element minOccurs="0" name="locationJoin" type="platformCommon:LocationSearchBasic" />
          <xsd:element minOccurs="0" name="projectTaskJoin" type="platformCommon:ProjectTaskSearchBasic" />
          <xsd:element minOccurs="0" name="projectTaskAssignmentJoin" type="platformCommon:ProjectTaskAssignmentSearchBasic" />
          <xsd:element minOccurs="0" name="resourceAllocationJoin" type="platformCommon:ResourceAllocationSearchBasic" />
          <xsd:element minOccurs="0" name="taskJoin" type="platformCommon:TaskSearchBasic" />
          <xsd:element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic" />
          <xsd:element minOccurs="0" name="vendorJoin" type="platformCommon:VendorSearchBasic" />
          <xsd:element minOccurs="0" name="timeSheetJoin" type="platformCommon:TimeSheetSearchBasic" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="customSearchJoin" type="platformCommon:CustomSearchJoin" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TimeBillSearchAdvanced">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="criteria" type="tranEmp:TimeBillSearch" />
          <xsd:element minOccurs="0" name="columns" type="tranEmp:TimeBillSearchRow" />
        </xsd:sequence>
        <xsd:attribute name="savedSearchId" type="xsd:string" />
        <xsd:attribute name="savedSearchScriptId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TimeBillSearchRow">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRow">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="basic" type="platformCommon:TimeBillSearchRowBasic" />
          <xsd:element minOccurs="0" name="callJoin" type="platformCommon:PhoneCallSearchRowBasic" />
          <xsd:element minOccurs="0" name="caseJoin" type="platformCommon:SupportCaseSearchRowBasic" />
          <xsd:element minOccurs="0" name="chargeJoin" type="platformCommon:ChargeSearchRowBasic" />
          <xsd:element minOccurs="0" name="classJoin" type="platformCommon:ClassificationSearchRowBasic" />
          <xsd:element minOccurs="0" name="customerJoin" type="platformCommon:CustomerSearchRowBasic" />
          <xsd:element minOccurs="0" name="departmentJoin" type="platformCommon:DepartmentSearchRowBasic" />
          <xsd:element minOccurs="0" name="employeeJoin" type="platformCommon:EmployeeSearchRowBasic" />
          <xsd:element minOccurs="0" name="eventJoin" type="platformCommon:CalendarEventSearchRowBasic" />
          <xsd:element minOccurs="0" name="itemJoin" type="platformCommon:ItemSearchRowBasic" />
          <xsd:element minOccurs="0" name="jobJoin" type="platformCommon:JobSearchRowBasic" />
          <xsd:element minOccurs="0" name="locationJoin" type="platformCommon:LocationSearchRowBasic" />
          <xsd:element minOccurs="0" name="projectTaskJoin" type="platformCommon:ProjectTaskSearchRowBasic" />
          <xsd:element minOccurs="0" name="projectTaskAssignmentJoin" type="platformCommon:ProjectTaskAssignmentSearchRowBasic" />
          <xsd:element minOccurs="0" name="resourceAllocationJoin" type="platformCommon:ResourceAllocationSearchRowBasic" />
          <xsd:element minOccurs="0" name="taskJoin" type="platformCommon:TaskSearchRowBasic" />
          <xsd:element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic" />
          <xsd:element minOccurs="0" name="vendorJoin" type="platformCommon:VendorSearchRowBasic" />
          <xsd:element minOccurs="0" name="timeSheetJoin" type="platformCommon:TimeSheetSearchRowBasic" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="expenseReport" type="tranEmp:ExpenseReport" />
  <xsd:complexType name="ExpenseReport">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="status" type="xsd:string" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="account" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="entity" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="acctCorpCardExp" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="dueDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="approvalStatus" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="total" type="xsd:double" />
          <xsd:element minOccurs="0" name="nextApprover" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="advance" type="xsd:double" />
          <xsd:element minOccurs="0" name="tax1Amt" type="xsd:double" />
          <xsd:element minOccurs="0" name="amount" type="xsd:double" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="complete" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="supervisorApproval" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="accountingApproval" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="useMultiCurrency" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="tax2Amt" type="xsd:double" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="expenseList" type="tranEmp:ExpenseReportExpenseList" />
          <xsd:element minOccurs="0" name="accountingBookDetailList" type="platformCommon:AccountingBookDetailList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ExpenseReportExpense">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="expenseDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="category" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="rate" type="xsd:double" />
      <xsd:element minOccurs="0" name="foreignAmount" type="xsd:double" />
      <xsd:element minOccurs="0" name="currency" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="exchangeRate" type="xsd:double" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="memo" type="xsd:string" />
      <xsd:element minOccurs="0" name="taxRate1" type="xsd:double" />
      <xsd:element minOccurs="0" name="tax1Amt" type="xsd:double" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="grossAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxRate2" type="xsd:double" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customer" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="isBillable" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="expMediaItem" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="isNonReimbursable" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="corporateCreditCard" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="receipt" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="refNumber" type="xsd:long" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExpenseReportExpenseList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="expense" type="tranEmp:ExpenseReportExpense" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="paycheckJournal" type="tranEmp:PaycheckJournal" />
  <xsd:complexType name="PaycheckJournal">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="currency" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="exchangeRate" type="xsd:double" />
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="employee" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="account" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="companyContributionList" type="tranEmp:PaycheckJournalCompanyContributionList" />
          <xsd:element minOccurs="0" name="deductionList" type="tranEmp:PaycheckJournalDeductionList" />
          <xsd:element minOccurs="0" name="employeeTaxList" type="tranEmp:PaycheckJournalEmployeeTaxList" />
          <xsd:element minOccurs="0" name="companyTaxList" type="tranEmp:PaycheckJournalCompanyTaxList" />
          <xsd:element minOccurs="0" name="earningList" type="tranEmp:PaycheckJournalEarningList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PaycheckJournalCompanyTax">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="id" type="xsd:long" />
      <xsd:element minOccurs="0" name="payrollItem" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaycheckJournalCompanyTaxList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="paycheckJournalCompanyTax" type="tranEmp:PaycheckJournalCompanyTax" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="PaycheckJournalDeduction">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="id" type="xsd:long" />
      <xsd:element minOccurs="0" name="payrollItem" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaycheckJournalDeductionList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="paycheckJournalDeduction" type="tranEmp:PaycheckJournalDeduction" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="PaycheckJournalCompanyContribution">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="id" type="xsd:long" />
      <xsd:element minOccurs="0" name="payrollItem" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaycheckJournalCompanyContributionList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="paycheckJournalCompanyContribution" type="tranEmp:PaycheckJournalCompanyContribution" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="PaycheckJournalEarning">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="id" type="xsd:long" />
      <xsd:element minOccurs="0" name="payrollItem" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="hours" type="xsd:double" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaycheckJournalEarningList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="paycheckJournalEarning" type="tranEmp:PaycheckJournalEarning" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="PaycheckJournalEmployeeTax">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="id" type="xsd:long" />
      <xsd:element minOccurs="0" name="payrollItem" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaycheckJournalEmployeeTaxList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="paycheckJournalEmployeeTax" type="tranEmp:PaycheckJournalEmployeeTax" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="timeEntry" type="tranEmp:TimeEntry" />
  <xsd:complexType name="TimeEntry">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="hours" type="platformCore:Duration" />
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="customer" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="caseTaskEvent" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="isBillable" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="payrollItem" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="paidExternally" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="price" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="rate" type="xsd:double" />
          <xsd:element minOccurs="0" name="overrideRate" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="billingClass" type="xsd:string" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="approvalStatus" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="timeType" type="tranEmpTyp:TimeBillTimeType" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="timeSheet" type="tranEmp:TimeSheet" />
  <xsd:complexType name="TimeSheet">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="employee" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="endDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="totalHours" type="platformCore:Duration" />
          <xsd:element minOccurs="0" name="approvalStatus" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="timeGridList" type="tranEmp:TimeSheetTimeGridList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TimeSheetTimeGrid">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sunday" type="tranEmp:TimeEntry" />
      <xsd:element minOccurs="0" name="monday" type="tranEmp:TimeEntry" />
      <xsd:element minOccurs="0" name="tuesday" type="tranEmp:TimeEntry" />
      <xsd:element minOccurs="0" name="wednesday" type="tranEmp:TimeEntry" />
      <xsd:element minOccurs="0" name="thursday" type="tranEmp:TimeEntry" />
      <xsd:element minOccurs="0" name="friday" type="tranEmp:TimeEntry" />
      <xsd:element minOccurs="0" name="saturday" type="tranEmp:TimeEntry" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TimeSheetTimeGridList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="timeSheetTimeGrid" type="tranEmp:TimeSheetTimeGrid" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="timeEntrySearch" type="tranEmp:TimeEntrySearch" />
  <xsd:complexType name="TimeEntrySearch">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="basic" type="platformCommon:TimeEntrySearchBasic" />
          <xsd:element minOccurs="0" name="callJoin" type="platformCommon:PhoneCallSearchBasic" />
          <xsd:element minOccurs="0" name="caseJoin" type="platformCommon:SupportCaseSearchBasic" />
          <xsd:element minOccurs="0" name="classJoin" type="platformCommon:ClassificationSearchBasic" />
          <xsd:element minOccurs="0" name="customerJoin" type="platformCommon:CustomerSearchBasic" />
          <xsd:element minOccurs="0" name="departmentJoin" type="platformCommon:DepartmentSearchBasic" />
          <xsd:element minOccurs="0" name="employeeJoin" type="platformCommon:EmployeeSearchBasic" />
          <xsd:element minOccurs="0" name="eventJoin" type="platformCommon:CalendarEventSearchBasic" />
          <xsd:element minOccurs="0" name="itemJoin" type="platformCommon:ItemSearchBasic" />
          <xsd:element minOccurs="0" name="jobJoin" type="platformCommon:JobSearchBasic" />
          <xsd:element minOccurs="0" name="locationJoin" type="platformCommon:LocationSearchBasic" />
          <xsd:element minOccurs="0" name="projectTaskJoin" type="platformCommon:ProjectTaskSearchBasic" />
          <xsd:element minOccurs="0" name="projectTaskAssignmentJoin" type="platformCommon:ProjectTaskAssignmentSearchBasic" />
          <xsd:element minOccurs="0" name="resourceAllocationJoin" type="platformCommon:ResourceAllocationSearchBasic" />
          <xsd:element minOccurs="0" name="taskJoin" type="platformCommon:TaskSearchBasic" />
          <xsd:element minOccurs="0" name="timeSheetJoin" type="platformCommon:TimeSheetSearchBasic" />
          <xsd:element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchBasic" />
          <xsd:element minOccurs="0" name="vendorJoin" type="platformCommon:VendorSearchBasic" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="customSearchJoin" type="platformCommon:CustomSearchJoin" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TimeEntrySearchAdvanced">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="criteria" type="tranEmp:TimeEntrySearch" />
          <xsd:element minOccurs="0" name="columns" type="tranEmp:TimeEntrySearchRow" />
        </xsd:sequence>
        <xsd:attribute name="savedSearchId" type="xsd:string" />
        <xsd:attribute name="savedSearchScriptId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TimeEntrySearchRow">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRow">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="basic" type="platformCommon:TimeEntrySearchRowBasic" />
          <xsd:element minOccurs="0" name="callJoin" type="platformCommon:PhoneCallSearchRowBasic" />
          <xsd:element minOccurs="0" name="caseJoin" type="platformCommon:SupportCaseSearchRowBasic" />
          <xsd:element minOccurs="0" name="classJoin" type="platformCommon:ClassificationSearchRowBasic" />
          <xsd:element minOccurs="0" name="customerJoin" type="platformCommon:CustomerSearchRowBasic" />
          <xsd:element minOccurs="0" name="departmentJoin" type="platformCommon:DepartmentSearchRowBasic" />
          <xsd:element minOccurs="0" name="employeeJoin" type="platformCommon:EmployeeSearchRowBasic" />
          <xsd:element minOccurs="0" name="eventJoin" type="platformCommon:CalendarEventSearchRowBasic" />
          <xsd:element minOccurs="0" name="itemJoin" type="platformCommon:ItemSearchRowBasic" />
          <xsd:element minOccurs="0" name="jobJoin" type="platformCommon:JobSearchRowBasic" />
          <xsd:element minOccurs="0" name="locationJoin" type="platformCommon:LocationSearchRowBasic" />
          <xsd:element minOccurs="0" name="projectTaskJoin" type="platformCommon:ProjectTaskSearchRowBasic" />
          <xsd:element minOccurs="0" name="projectTaskAssignmentJoin" type="platformCommon:ProjectTaskAssignmentSearchRowBasic" />
          <xsd:element minOccurs="0" name="resourceAllocationJoin" type="platformCommon:ResourceAllocationSearchRowBasic" />
          <xsd:element minOccurs="0" name="taskJoin" type="platformCommon:TaskSearchRowBasic" />
          <xsd:element minOccurs="0" name="timeSheetJoin" type="platformCommon:TimeSheetSearchRowBasic" />
          <xsd:element minOccurs="0" name="userJoin" type="platformCommon:EmployeeSearchRowBasic" />
          <xsd:element minOccurs="0" name="vendorJoin" type="platformCommon:VendorSearchRowBasic" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="timeSheetSearch" type="tranEmp:TimeSheetSearch" />
  <xsd:complexType name="TimeSheetSearch">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="basic" type="platformCommon:TimeSheetSearchBasic" />
          <xsd:element minOccurs="0" name="employeeJoin" type="platformCommon:EmployeeSearchBasic" />
          <xsd:element minOccurs="0" name="timeBillJoin" type="platformCommon:TimeBillSearchBasic" />
          <xsd:element minOccurs="0" name="timeEntryJoin" type="platformCommon:TimeEntrySearchBasic" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="customSearchJoin" type="platformCommon:CustomSearchJoin" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TimeSheetSearchAdvanced">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="criteria" type="tranEmp:TimeSheetSearch" />
          <xsd:element minOccurs="0" name="columns" type="tranEmp:TimeSheetSearchRow" />
        </xsd:sequence>
        <xsd:attribute name="savedSearchId" type="xsd:string" />
        <xsd:attribute name="savedSearchScriptId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TimeSheetSearchRow">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRow">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="basic" type="platformCommon:TimeSheetSearchRowBasic" />
          <xsd:element minOccurs="0" name="employeeJoin" type="platformCommon:EmployeeSearchRowBasic" />
          <xsd:element minOccurs="0" name="timeBillJoin" type="platformCommon:TimeBillSearchRowBasic" />
          <xsd:element minOccurs="0" name="timeEntryJoin" type="platformCommon:TimeEntrySearchRowBasic" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="paycheck" type="tranEmp:Paycheck" />
  <xsd:complexType name="Paycheck">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="batchNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="status" type="xsd:string" />
          <xsd:element minOccurs="0" name="entity" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="address" type="xsd:string" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="workplace" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="userAmount" type="xsd:double" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="account" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="payFrequency" type="xsd:string" />
          <xsd:element minOccurs="0" name="balance" type="xsd:double" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="periodEnding" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="payEarnList" type="tranEmp:PaycheckPayEarnList" />
          <xsd:element minOccurs="0" name="payTimeList" type="tranEmp:PaycheckPayTimeList" />
          <xsd:element minOccurs="0" name="payExpList" type="tranEmp:PaycheckPayExpList" />
          <xsd:element minOccurs="0" name="payPtoList" type="tranEmp:PaycheckPayPtoList" />
          <xsd:element minOccurs="0" name="payDeductList" type="tranEmp:PaycheckPayDeductList" />
          <xsd:element minOccurs="0" name="payContribList" type="tranEmp:PaycheckPayContribList" />
          <xsd:element minOccurs="0" name="payTaxList" type="tranEmp:PaycheckPayTaxList" />
          <xsd:element minOccurs="0" name="paySummaryList" type="tranEmp:PaycheckPaySummaryList" />
          <xsd:element minOccurs="0" name="payDisburseList" type="tranEmp:PaycheckPayDisburseList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PaycheckPayTime">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="apply" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="payItem" type="xsd:long" />
      <xsd:element minOccurs="0" name="payItemName" type="xsd:string" />
      <xsd:element minOccurs="0" name="ddate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="custJob" type="xsd:string" />
      <xsd:element minOccurs="0" name="serviceItem" type="xsd:string" />
      <xsd:element minOccurs="0" name="count" type="xsd:double" />
      <xsd:element minOccurs="0" name="rate" type="xsd:double" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaycheckPayTimeList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="paycheckPayTime" type="tranEmp:PaycheckPayTime" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="PaycheckPayExp">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="apply" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="origDoc" type="xsd:long" />
      <xsd:element minOccurs="0" name="transaction" type="xsd:string" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaycheckPayExpList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="paycheckPayExp" type="tranEmp:PaycheckPayExp" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="PaycheckPayDisburse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="method" type="xsd:string" />
      <xsd:element minOccurs="0" name="bankName" type="xsd:string" />
      <xsd:element minOccurs="0" name="bankAccountDecrypt" type="xsd:string" />
      <xsd:element minOccurs="0" name="statusName" type="xsd:string" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaycheckPayDisburseList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="paycheckPayDisburse" type="tranEmp:PaycheckPayDisburse" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="PaycheckPaySummary">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="payItem" type="xsd:string" />
      <xsd:element minOccurs="0" name="payItemType" type="xsd:string" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="ytdAmount" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaycheckPaySummaryList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="paycheckPaySummary" type="tranEmp:PaycheckPaySummary" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="PaycheckPayDeduct">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="payItem" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="wageBase" type="xsd:double" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="manualEntry" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaycheckPayDeductList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="paycheckPayDeduct" type="tranEmp:PaycheckPayDeduct" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="PaycheckPayPto">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="payItem" type="xsd:long" />
      <xsd:element minOccurs="0" name="payItemName" type="xsd:string" />
      <xsd:element minOccurs="0" name="hoursAccrued" type="xsd:double" />
      <xsd:element minOccurs="0" name="hoursUsed" type="xsd:double" />
      <xsd:element minOccurs="0" name="hoursBalance" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaycheckPayPtoList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="paycheckPayPto" type="tranEmp:PaycheckPayPto" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="PaycheckPayTax">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="apply" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="payTax" type="xsd:string" />
      <xsd:element minOccurs="0" name="payItem" type="xsd:long" />
      <xsd:element minOccurs="0" name="taxableWageBase" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxedWageBase" type="xsd:double" />
      <xsd:element minOccurs="0" name="reportableWageBase" type="xsd:double" />
      <xsd:element minOccurs="0" name="isExempt" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="isResidentTax" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaycheckPayTaxList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="paycheckPayTax" type="tranEmp:PaycheckPayTax" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="PaycheckPayEarn">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="payItem" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="count" type="xsd:double" />
      <xsd:element minOccurs="0" name="rate" type="xsd:string" />
      <xsd:element minOccurs="0" name="serviceItem" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="grossAmount" type="xsd:double" />
      <xsd:element minOccurs="0" name="manualEntry" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaycheckPayEarnList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="paycheckPayEarn" type="tranEmp:PaycheckPayEarn" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="PaycheckPayContrib">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="payItem" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="wageBase" type="xsd:double" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="manualEntry" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaycheckPayContribList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="paycheckPayContrib" type="tranEmp:PaycheckPayContrib" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="paycheckSearch" type="tranEmp:PaycheckSearch" />
  <xsd:complexType name="PaycheckSearch">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="basic" type="platformCommon:PaycheckSearchBasic" />
          <xsd:element minOccurs="0" name="employeeJoin" type="platformCommon:EmployeeSearchBasic" />
          <xsd:element minOccurs="0" name="payrollItemJoin" type="platformCommon:PayrollItemSearchBasic" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PaycheckSearchAdvanced">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="criteria" type="tranEmp:PaycheckSearch" />
          <xsd:element minOccurs="0" name="columns" type="tranEmp:PaycheckSearchRow" />
        </xsd:sequence>
        <xsd:attribute name="savedSearchId" type="xsd:string" />
        <xsd:attribute name="savedSearchScriptId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PaycheckSearchRow">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRow">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="basic" type="platformCommon:PaycheckSearchRowBasic" />
          <xsd:element minOccurs="0" name="employeeJoin" type="platformCommon:EmployeeSearchRowBasic" />
          <xsd:element minOccurs="0" name="payrollItemJoin" type="platformCommon:PayrollItemSearchRowBasic" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>