Web References/netsuite.webservices/general.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:platformCoreTyp="urn:types.core_2018_2.platform.webservices.netsuite.com" xmlns:platformCommonTyp="urn:types.common_2018_2.platform.webservices.netsuite.com" xmlns:tranGeneral="urn:general_2018_2.transactions.webservices.netsuite.com" xmlns:platformCommon="urn:common_2018_2.platform.webservices.netsuite.com" xmlns:platformCore="urn:core_2018_2.platform.webservices.netsuite.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:general_2018_2.transactions.webservices.netsuite.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://webservices.netsuite.com/xsd/platform/v2018_2_0/core.xsd" namespace="urn:core_2018_2.platform.webservices.netsuite.com" />
  <xsd:import schemaLocation="https://webservices.netsuite.com/xsd/platform/v2018_2_0/common.xsd" namespace="urn:common_2018_2.platform.webservices.netsuite.com" />
  <xsd:element name="JournalEntry" type="tranGeneral:JournalEntry" />
  <xsd:complexType name="JournalEntry">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="currency" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="exchangeRate" type="xsd:double" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="reversalDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="reversalDefer" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="parentExpenseAlloc" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="isBookSpecific" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="accountingBook" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="reversalEntry" type="xsd:string" />
          <xsd:element minOccurs="0" name="createdFrom" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="nexus" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="subsidiaryTaxRegNum" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="toSubsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="approved" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="lineList" type="tranGeneral:JournalEntryLineList" />
          <xsd:element minOccurs="0" name="accountingBookDetailList" type="platformCommon:AccountingBookDetailList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="JournalEntryLine">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="account" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="debit" type="xsd:double" />
      <xsd:element minOccurs="0" name="credit" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxAccount" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="lineTaxCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="lineTaxRate" type="xsd:double" />
      <xsd:element minOccurs="0" name="debitTax" type="xsd:double" />
      <xsd:element minOccurs="0" name="creditTax" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxBasis" type="xsd:double" />
      <xsd:element minOccurs="0" name="totalAmount" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="memo" type="xsd:string" />
      <xsd:element minOccurs="0" name="taxRate1" type="xsd:double" />
      <xsd:element minOccurs="0" name="entity" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="grossAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="revenueRecognitionRule" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="eliminate" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="schedule" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="endDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="residual" type="xsd:string" />
      <xsd:element minOccurs="0" name="scheduleNum" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="tax1Amt" type="xsd:double" />
      <xsd:element minOccurs="0" name="tax1Acct" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="JournalEntryLineList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="line" type="tranGeneral:JournalEntryLine" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="InterCompanyJournalEntry" type="tranGeneral:InterCompanyJournalEntry" />
  <xsd:complexType name="InterCompanyJournalEntry">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="currency" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="exchangeRate" type="xsd:double" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="reversalDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="reversalDefer" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="parentExpenseAlloc" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="isBookSpecific" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="accountingBook" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="reversalEntry" type="xsd:string" />
          <xsd:element minOccurs="0" name="createdFrom" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="toSubsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="approved" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lineList" type="tranGeneral:InterCompanyJournalEntryLineList" />
          <xsd:element minOccurs="0" name="accountingBookDetailList" type="tranGeneral:InterCompanyJournalEntryAccountingBookDetailList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InterCompanyJournalEntryLine">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="lineSubsidiary" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="account" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="debit" type="xsd:double" />
      <xsd:element minOccurs="0" name="credit" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="memo" type="xsd:string" />
      <xsd:element minOccurs="0" name="taxRate1" type="xsd:double" />
      <xsd:element minOccurs="0" name="entity" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="grossAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="schedule" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="endDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="revenueRecognitionRule" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="eliminate" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="residual" type="xsd:string" />
      <xsd:element minOccurs="0" name="amortizationSched" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="scheduleNum" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amortizStartDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationEndDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationResidual" type="xsd:string" />
      <xsd:element minOccurs="0" name="tax1Amt" type="xsd:double" />
      <xsd:element minOccurs="0" name="tax1Acct" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InterCompanyJournalEntryLineList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="line" type="tranGeneral:InterCompanyJournalEntryLine" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="StatisticalJournalEntry" type="tranGeneral:StatisticalJournalEntry" />
  <xsd:complexType name="StatisticalJournalEntry">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="parentExpenseAlloc" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="approved" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="reversalDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="reversalDefer" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="unitsType" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="lineList" type="tranGeneral:StatisticalJournalEntryLineList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StatisticalJournalEntryLine">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="account" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="scheduleNum" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="debit" type="xsd:double" />
      <xsd:element minOccurs="0" name="memo" type="xsd:string" />
      <xsd:element minOccurs="0" name="entity" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="lineUnit" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="previewDebit" type="xsd:string" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StatisticalJournalEntryLineList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="statisticalJournalEntryLine" type="tranGeneral:StatisticalJournalEntryLine" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="InterCompanyJournalEntryAccountingBookDetail">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="accountingBook" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="currency" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="exchangeRate" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InterCompanyJournalEntryAccountingBookDetailList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="interCompanyJournalEntryAccountingBookDetail" type="tranGeneral:InterCompanyJournalEntryAccountingBookDetail" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="AdvInterCompanyJournalEntry" type="tranGeneral:AdvInterCompanyJournalEntry" />
  <xsd:complexType name="AdvInterCompanyJournalEntry">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="currency" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="reversalDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="reversalDefer" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="parentExpenseAlloc" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="isBookSpecific" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="accountingBook" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="reversalEntry" type="xsd:string" />
          <xsd:element minOccurs="0" name="createdFrom" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="approved" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="performAutoBalance" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="lineList" type="tranGeneral:AdvInterCompanyJournalEntryLineList" />
          <xsd:element minOccurs="0" name="accountingBookDetailList" type="tranGeneral:AdvInterCompanyJournalEntryAccountingBookDetailList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AdvInterCompanyJournalEntryLine">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="lineSubsidiary" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="account" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="debit" type="xsd:double" />
      <xsd:element minOccurs="0" name="credit" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="memo" type="xsd:string" />
      <xsd:element minOccurs="0" name="taxRate1" type="xsd:double" />
      <xsd:element minOccurs="0" name="entity" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="dueToFromSubsidiary" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="grossAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="schedule" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="endDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="revenueRecognitionRule" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="eliminate" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="residual" type="xsd:string" />
      <xsd:element minOccurs="0" name="amortizationSched" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="scheduleNum" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amortizStartDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationEndDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationResidual" type="xsd:string" />
      <xsd:element minOccurs="0" name="tax1Amt" type="xsd:double" />
      <xsd:element minOccurs="0" name="tax1Acct" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="lineFxRate" type="xsd:double" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AdvInterCompanyJournalEntryLineList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="line" type="tranGeneral:AdvInterCompanyJournalEntryLine" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="AdvInterCompanyJournalEntryAccountingBookDetail">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="accountingBook" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="currency" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="exchangeRate" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AdvInterCompanyJournalEntryAccountingBookDetailList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="interCompanyJournalEntryAccountingBookDetail" type="tranGeneral:AdvInterCompanyJournalEntryAccountingBookDetail" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
</xsd:schema>