Web References/netsuite.webservices/purchases.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:platformCommonTyp="urn:types.common_2018_2.platform.webservices.netsuite.com" xmlns:platformCoreTyp="urn:types.core_2018_2.platform.webservices.netsuite.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tranPurchTyp="urn:types.purchases_2018_2.transactions.webservices.netsuite.com" xmlns:tranPurch="urn:purchases_2018_2.transactions.webservices.netsuite.com" xmlns:platformCore="urn:core_2018_2.platform.webservices.netsuite.com" xmlns:platformCommon="urn:common_2018_2.platform.webservices.netsuite.com" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:purchases_2018_2.transactions.webservices.netsuite.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://webservices.netsuite.com/xsd/platform/v2018_2_0/core.xsd" namespace="urn:core_2018_2.platform.webservices.netsuite.com" />
  <xsd:import schemaLocation="https://webservices.netsuite.com/xsd/platform/v2018_2_0/common.xsd" namespace="urn:common_2018_2.platform.webservices.netsuite.com" />
  <xsd:import schemaLocation="https://webservices.netsuite.com/xsd/platform/v2018_2_0/commonTypes.xsd" namespace="urn:types.common_2018_2.platform.webservices.netsuite.com" />
  <xsd:import schemaLocation="https://webservices.netsuite.com/xsd/transactions/v2018_2_0/purchaseTypes.xsd" namespace="urn:types.purchases_2018_2.transactions.webservices.netsuite.com" />
  <xsd:complexType name="PurchLandedCostList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="landedCost" type="platformCommon:LandedCostSummary" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="VendorBill" type="tranPurch:VendorBill" />
  <xsd:complexType name="VendorBill">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="nexus" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="subsidiaryTaxRegNum" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="taxRegOverride" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="taxDetailsOverride" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="billAddressList" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="account" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="entity" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="approvalStatus" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="nextApprover" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="vatRegNum" type="xsd:string" />
          <xsd:element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="currencyName" type="xsd:string" />
          <xsd:element minOccurs="0" name="billingAddress" type="platformCommon:Address" />
          <xsd:element minOccurs="0" name="exchangeRate" type="xsd:double" />
          <xsd:element minOccurs="0" name="entityTaxRegNum" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="terms" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="dueDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="discountDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="userTotal" type="xsd:double" />
          <xsd:element minOccurs="0" name="discountAmount" type="xsd:double" />
          <xsd:element minOccurs="0" name="taxTotal" type="xsd:double" />
          <xsd:element minOccurs="0" name="paymentHold" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="tax2Total" type="xsd:double" />
          <xsd:element minOccurs="0" name="creditLimit" type="xsd:double" />
          <xsd:element minOccurs="0" name="availableVendorCredit" type="xsd:double" />
          <xsd:element minOccurs="0" name="currency" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="status" type="xsd:string" />
          <xsd:element minOccurs="0" name="landedCostMethod" type="platformCommonTyp:LandedCostMethod" />
          <xsd:element minOccurs="0" name="landedCostPerLine" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="transactionNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="expenseList" type="tranPurch:VendorBillExpenseList" />
          <xsd:element minOccurs="0" name="accountingBookDetailList" type="platformCommon:AccountingBookDetailList" />
          <xsd:element minOccurs="0" name="itemList" type="tranPurch:VendorBillItemList" />
          <xsd:element minOccurs="0" name="landedCostsList" type="tranPurch:PurchLandedCostList" />
          <xsd:element minOccurs="0" name="purchaseOrderList" type="platformCore:RecordRefList" />
          <xsd:element minOccurs="0" name="taxDetailsList" type="platformCommon:TaxDetailsList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VendorBillExpense">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="orderDoc" type="xsd:long" />
      <xsd:element minOccurs="0" name="orderLine" type="xsd:long" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="category" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="account" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxAmount" type="xsd:double" />
      <xsd:element minOccurs="0" name="tax1Amt" type="xsd:double" />
      <xsd:element minOccurs="0" name="memo" type="xsd:string" />
      <xsd:element minOccurs="0" name="grossAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxDetailsReference" type="xsd:string" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customer" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="isBillable" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="projectTask" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="taxCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="taxRate1" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxRate2" type="xsd:double" />
      <xsd:element minOccurs="0" name="amortizationSched" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amortizStartDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationEndDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationResidual" type="xsd:string" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VendorBillExpenseList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="expense" type="tranPurch:VendorBillExpense" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="VendorBillItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="vendorName" type="xsd:string" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="orderDoc" type="xsd:long" />
      <xsd:element minOccurs="0" name="orderLine" type="xsd:long" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="units" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="inventoryDetail" type="platformCommon:InventoryDetail" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="serialNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="binNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="expirationDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="taxCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="taxRate1" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxRate2" type="xsd:double" />
      <xsd:element minOccurs="0" name="grossAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="tax1Amt" type="xsd:double" />
      <xsd:element minOccurs="0" name="rate" type="xsd:string" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="options" type="platformCore:CustomFieldList" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customer" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="landedCostCategory" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="isBillable" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="billVarianceStatus" type="tranPurchTyp:TransactionBillVarianceStatus" />
      <xsd:element minOccurs="0" name="billreceiptsList" type="platformCore:RecordRefList" />
      <xsd:element minOccurs="0" name="amortizationSched" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amortizStartDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationEndDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationResidual" type="xsd:string" />
      <xsd:element minOccurs="0" name="taxAmount" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxDetailsReference" type="xsd:string" />
      <xsd:element minOccurs="0" name="landedCost" type="platformCommon:LandedCost" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VendorBillItemList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tranPurch:VendorBillItem" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="PurchaseOrder" type="tranPurch:PurchaseOrder" />
  <xsd:complexType name="PurchaseOrder">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="nexus" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="subsidiaryTaxRegNum" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="taxRegOverride" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="taxDetailsOverride" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="entity" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="purchaseContract" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="vatRegNum" type="xsd:string" />
          <xsd:element minOccurs="0" name="employee" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="supervisorApproval" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="entityTaxRegNum" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="createdFrom" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="terms" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="dueDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="otherRefNum" type="xsd:string" />
          <xsd:element minOccurs="0" name="availableVendorCredit" type="xsd:double" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="approvalStatus" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="exchangeRate" type="xsd:double" />
          <xsd:element minOccurs="0" name="nextApprover" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="source" type="xsd:string" />
          <xsd:element minOccurs="0" name="currencyName" type="xsd:string" />
          <xsd:element minOccurs="0" name="toBePrinted" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="toBeEmailed" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="email" type="xsd:string" />
          <xsd:element minOccurs="0" name="toBeFaxed" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="fax" type="xsd:string" />
          <xsd:element minOccurs="0" name="message" type="xsd:string" />
          <xsd:element minOccurs="0" name="billingAddress" type="platformCommon:Address" />
          <xsd:element minOccurs="0" name="billAddressList" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="currency" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="shipTo" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="subTotal" type="xsd:double" />
          <xsd:element minOccurs="0" name="taxTotal" type="xsd:double" />
          <xsd:element minOccurs="0" name="tax2Total" type="xsd:double" />
          <xsd:element minOccurs="0" name="shippingAddress" type="platformCommon:Address" />
          <xsd:element minOccurs="0" name="shipIsResidential" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="shipAddressList" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="fob" type="xsd:string" />
          <xsd:element minOccurs="0" name="shipDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="shipMethod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="incoterm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="trackingNumbers" type="xsd:string" />
          <xsd:element minOccurs="0" name="linkedTrackingNumbers" type="xsd:string" />
          <xsd:element minOccurs="0" name="total" type="xsd:double" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="intercoTransaction" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="intercoStatus" type="platformCommonTyp:IntercoStatus" />
          <xsd:element minOccurs="0" name="status" type="xsd:string" />
          <xsd:element minOccurs="0" name="orderStatus" type="tranPurchTyp:PurchaseOrderOrderStatus" />
          <xsd:element minOccurs="0" name="itemList" type="tranPurch:PurchaseOrderItemList" />
          <xsd:element minOccurs="0" name="accountingBookDetailList" type="platformCommon:AccountingBookDetailList" />
          <xsd:element minOccurs="0" name="expenseList" type="tranPurch:PurchaseOrderExpenseList" />
          <xsd:element minOccurs="0" name="taxDetailsList" type="platformCommon:TaxDetailsList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PurchaseOrderExpense">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="category" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="linkedOrderList" type="platformCore:RecordRefList" />
      <xsd:element minOccurs="0" name="account" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxAmount" type="xsd:double" />
      <xsd:element minOccurs="0" name="memo" type="xsd:string" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customer" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="isClosed" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="isBillable" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="createdFrom" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="taxCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="taxRate1" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxRate2" type="xsd:double" />
      <xsd:element minOccurs="0" name="tax1Amt" type="xsd:double" />
      <xsd:element minOccurs="0" name="grossAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxDetailsReference" type="xsd:string" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PurchaseOrderExpenseList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="expense" type="tranPurch:PurchaseOrderExpense" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="PurchaseOrderItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="quantityOnShipments" type="xsd:double" />
      <xsd:element minOccurs="0" name="vendorName" type="xsd:string" />
      <xsd:element minOccurs="0" name="quantityReceived" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityBilled" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityAvailable" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityOnHand" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="taxRate1" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxRate2" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="tax1Amt" type="xsd:double" />
      <xsd:element minOccurs="0" name="grossAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="units" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="inventoryDetail" type="platformCommon:InventoryDetail" />
      <xsd:element minOccurs="0" name="serialNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="purchaseContract" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="rate" type="xsd:string" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="options" type="platformCore:CustomFieldList" />
      <xsd:element minOccurs="0" name="taxAmount" type="xsd:double" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="landedCostCategory" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customer" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="isBillable" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="billVarianceStatus" type="tranPurchTyp:TransactionBillVarianceStatus" />
      <xsd:element minOccurs="0" name="matchBillToReceipt" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="expectedReceiptDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="isClosed" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="taxDetailsReference" type="xsd:string" />
      <xsd:element minOccurs="0" name="createdFrom" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="linkedOrderList" type="platformCore:RecordRefList" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PurchaseOrderItemList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tranPurch:PurchaseOrderItem" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="ItemReceipt" type="tranPurch:ItemReceipt" />
  <xsd:complexType name="ItemReceipt">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="exchangeRate" type="xsd:double" />
          <xsd:element minOccurs="0" name="entity" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="currencyName" type="xsd:string" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="createdFrom" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="partner" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="inboundShipment" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="itemFulfillment" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="currency" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="landedCostMethod" type="platformCommonTyp:LandedCostMethod" />
          <xsd:element minOccurs="0" name="landedCostPerLine" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="itemList" type="tranPurch:ItemReceiptItemList" />
          <xsd:element minOccurs="0" name="expenseList" type="tranPurch:ItemReceiptExpenseList" />
          <xsd:element minOccurs="0" name="landedCostsList" type="tranPurch:PurchLandedCostList" />
          <xsd:element minOccurs="0" name="accountingBookDetailList" type="platformCommon:AccountingBookDetailList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ItemReceiptItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="itemReceive" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="jobName" type="xsd:string" />
      <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="orderLine" type="xsd:long" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="itemName" type="xsd:string" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="onHand" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityRemaining" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="unitsDisplay" type="xsd:string" />
      <xsd:element minOccurs="0" name="unitCostOverride" type="xsd:double" />
      <xsd:element minOccurs="0" name="inventoryDetail" type="platformCommon:InventoryDetail" />
      <xsd:element minOccurs="0" name="serialNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="binNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="expirationDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="rate" type="xsd:string" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="restock" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="billVarianceStatus" type="tranPurchTyp:TransactionBillVarianceStatus" />
      <xsd:element minOccurs="0" name="isDropShipment" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="options" type="platformCore:CustomFieldList" />
      <xsd:element minOccurs="0" name="landedCost" type="platformCommon:LandedCost" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ItemReceiptItemList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tranPurch:ItemReceiptItem" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="ItemReceiptExpense">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="markReceived" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="orderLine" type="xsd:long" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="account" type="xsd:string" />
      <xsd:element minOccurs="0" name="memo" type="xsd:string" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ItemReceiptExpenseList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="expense" type="tranPurch:ItemReceiptExpense" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="vendorPayment" type="tranPurch:VendorPayment" />
  <xsd:complexType name="VendorPayment">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="account" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="balance" type="xsd:double" />
          <xsd:element minOccurs="0" name="apAcct" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="entity" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="address" type="xsd:string" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="voidJournal" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="currencyName" type="xsd:string" />
          <xsd:element minOccurs="0" name="exchangeRate" type="xsd:double" />
          <xsd:element minOccurs="0" name="toAch" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="toBePrinted" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="printVoucher" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="total" type="xsd:double" />
          <xsd:element minOccurs="0" name="currency" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="status" type="xsd:string" />
          <xsd:element minOccurs="0" name="transactionNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="applyList" type="tranPurch:VendorPaymentApplyList" />
          <xsd:element minOccurs="0" name="creditList" type="tranPurch:VendorPaymentCreditList" />
          <xsd:element minOccurs="0" name="billPay" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="accountingBookDetailList" type="platformCommon:AccountingBookDetailList" />
          <xsd:element minOccurs="0" name="availableBalance" type="xsd:double" />
          <xsd:element minOccurs="0" name="isInTransitPayment" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="approvalStatus" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="nextApprover" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VendorPaymentApply">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="apply" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="doc" type="xsd:long" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="job" type="xsd:string" />
      <xsd:element minOccurs="0" name="applyDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="type" type="xsd:string" />
      <xsd:element minOccurs="0" name="refNum" type="xsd:string" />
      <xsd:element minOccurs="0" name="total" type="xsd:double" />
      <xsd:element minOccurs="0" name="due" type="xsd:double" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="discDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="discAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="disc" type="xsd:double" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VendorPaymentApplyList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="apply" type="tranPurch:VendorPaymentApply" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="VendorPaymentCredit">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="apply" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="doc" type="xsd:long" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="creditDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="type" type="xsd:string" />
      <xsd:element minOccurs="0" name="refNum" type="xsd:string" />
      <xsd:element minOccurs="0" name="appliedTo" type="xsd:string" />
      <xsd:element minOccurs="0" name="total" type="xsd:double" />
      <xsd:element minOccurs="0" name="due" type="xsd:double" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VendorPaymentCreditList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="credit" type="tranPurch:VendorPaymentCredit" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="vendorCredit" type="tranPurch:VendorCredit" />
  <xsd:complexType name="VendorCredit">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="nexus" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="subsidiaryTaxRegNum" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="taxRegOverride" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="taxDetailsOverride" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="account" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="unApplied" type="xsd:double" />
          <xsd:element minOccurs="0" name="billAddressList" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="autoApply" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="applied" type="xsd:double" />
          <xsd:element minOccurs="0" name="transactionNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="createdFrom" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="entity" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="total" type="xsd:double" />
          <xsd:element minOccurs="0" name="userTotal" type="xsd:double" />
          <xsd:element minOccurs="0" name="currency" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="currencyName" type="xsd:string" />
          <xsd:element minOccurs="0" name="billingAddress" type="platformCommon:Address" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="exchangeRate" type="xsd:double" />
          <xsd:element minOccurs="0" name="entityTaxRegNum" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="userTaxTotal" type="xsd:double" />
          <xsd:element minOccurs="0" name="postingPeriod" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="expenseList" type="tranPurch:VendorCreditExpenseList" />
          <xsd:element minOccurs="0" name="itemList" type="tranPurch:VendorCreditItemList" />
          <xsd:element minOccurs="0" name="accountingBookDetailList" type="platformCommon:AccountingBookDetailList" />
          <xsd:element minOccurs="0" name="applyList" type="tranPurch:VendorCreditApplyList" />
          <xsd:element minOccurs="0" name="taxDetailsList" type="platformCommon:TaxDetailsList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VendorCreditExpense">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="orderLine" type="xsd:long" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="category" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="account" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxAmount" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="taxRate1" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxRate2" type="xsd:double" />
      <xsd:element minOccurs="0" name="tax1Amt" type="xsd:double" />
      <xsd:element minOccurs="0" name="grossAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxDetailsReference" type="xsd:string" />
      <xsd:element minOccurs="0" name="memo" type="xsd:string" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customer" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="isBillable" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="amortizationSched" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amortizStartDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationEndDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationResidual" type="xsd:string" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VendorCreditExpenseList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="expense" type="tranPurch:VendorCreditExpense" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="VendorCreditItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="vendorName" type="xsd:string" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="orderLine" type="xsd:long" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="units" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="inventoryDetail" type="platformCommon:InventoryDetail" />
      <xsd:element minOccurs="0" name="serialNumbersList" type="platformCore:RecordRefList" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="rate" type="xsd:string" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="binNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="taxCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="taxRate1" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxRate2" type="xsd:double" />
      <xsd:element minOccurs="0" name="grossAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="tax1Amt" type="xsd:double" />
      <xsd:element minOccurs="0" name="options" type="platformCore:CustomFieldList" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customer" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="isBillable" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="amortizationSched" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amortizStartDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationEndDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationResidual" type="xsd:string" />
      <xsd:element minOccurs="0" name="taxAmount" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxDetailsReference" type="xsd:string" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VendorCreditItemList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tranPurch:VendorCreditItem" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="VendorCreditApply">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="apply" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="applyDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="doc" type="xsd:long" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="type" type="xsd:string" />
      <xsd:element minOccurs="0" name="refNum" type="xsd:string" />
      <xsd:element minOccurs="0" name="total" type="xsd:double" />
      <xsd:element minOccurs="0" name="due" type="xsd:double" />
      <xsd:element minOccurs="0" name="currency" type="xsd:string" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VendorCreditApplyList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="apply" type="tranPurch:VendorCreditApply" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="vendorReturnAuthorization" type="tranPurch:VendorReturnAuthorization" />
  <xsd:complexType name="VendorReturnAuthorization">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="nexus" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="subsidiaryTaxRegNum" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="taxRegOverride" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="taxDetailsOverride" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="createdFrom" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="entity" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="orderStatus" type="tranPurchTyp:VendorReturnAuthorizationOrderStatus" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="userTotal" type="xsd:double" />
          <xsd:element minOccurs="0" name="currency" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="currencyName" type="xsd:string" />
          <xsd:element minOccurs="0" name="billingAddress" type="platformCommon:Address" />
          <xsd:element minOccurs="0" name="billAddressList" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="exchangeRate" type="xsd:double" />
          <xsd:element minOccurs="0" name="entityTaxRegNum" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="userTaxTotal" type="xsd:double" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="intercoTransaction" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="intercoStatus" type="platformCommonTyp:IntercoStatus" />
          <xsd:element minOccurs="0" name="expenseList" type="tranPurch:VendorReturnAuthorizationExpenseList" />
          <xsd:element minOccurs="0" name="itemList" type="tranPurch:VendorReturnAuthorizationItemList" />
          <xsd:element minOccurs="0" name="accountingBookDetailList" type="platformCommon:AccountingBookDetailList" />
          <xsd:element minOccurs="0" name="taxDetailsList" type="platformCommon:TaxDetailsList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VendorReturnAuthorizationExpense">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="orderLine" type="xsd:long" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="category" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="account" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxAmount" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="taxRate1" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxRate2" type="xsd:double" />
      <xsd:element minOccurs="0" name="tax1Amt" type="xsd:double" />
      <xsd:element minOccurs="0" name="grossAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxDetailsReference" type="xsd:string" />
      <xsd:element minOccurs="0" name="memo" type="xsd:string" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customer" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="isBillable" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="amortizationSched" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="amortizStartDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationEndDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationResidual" type="xsd:string" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VendorReturnAuthorizationExpenseList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="expense" type="tranPurch:VendorReturnAuthorizationExpense" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="VendorReturnAuthorizationItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="vendorName" type="xsd:string" />
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="orderLine" type="xsd:long" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="units" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="inventoryDetail" type="platformCommon:InventoryDetail" />
      <xsd:element minOccurs="0" name="serialNumbersList" type="platformCore:RecordRefList" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="binNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="rate" type="xsd:string" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="taxRate1" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxRate2" type="xsd:double" />
      <xsd:element minOccurs="0" name="grossAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="tax1Amt" type="xsd:double" />
      <xsd:element minOccurs="0" name="options" type="platformCore:CustomFieldList" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customer" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="isBillable" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="isClosed" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="amortizationSched" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="isDropShipment" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="taxAmount" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxDetailsReference" type="xsd:string" />
      <xsd:element minOccurs="0" name="amortizStartDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationEndDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="amortizationResidual" type="xsd:string" />
      <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VendorReturnAuthorizationItemList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tranPurch:VendorReturnAuthorizationItem" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="purchaseRequisition" type="tranPurch:PurchaseRequisition" />
  <xsd:complexType name="PurchaseRequisition">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="source" type="xsd:string" />
          <xsd:element minOccurs="0" name="subTotal" type="xsd:double" />
          <xsd:element minOccurs="0" name="currencyName" type="xsd:string" />
          <xsd:element minOccurs="0" name="exchangeRate" type="xsd:double" />
          <xsd:element minOccurs="0" name="vatRegNum" type="xsd:string" />
          <xsd:element minOccurs="0" name="nexus" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="taxRegNum" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="taxRegOverride" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="estimatedTotal" type="xsd:double" />
          <xsd:element minOccurs="0" name="status" type="xsd:string" />
          <xsd:element minOccurs="0" name="currency" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="entity" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="dueDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="tranDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="tranId" type="xsd:string" />
          <xsd:element minOccurs="0" name="memo" type="xsd:string" />
          <xsd:element minOccurs="0" name="approvalStatus" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="nextApprover" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="taxTotal" type="xsd:double" />
          <xsd:element minOccurs="0" name="tax2Total" type="xsd:double" />
          <xsd:element minOccurs="0" name="subsidiary" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="total" type="xsd:double" />
          <xsd:element minOccurs="0" name="itemList" type="tranPurch:PurchaseRequisitionItemList" />
          <xsd:element minOccurs="0" name="expenseList" type="tranPurch:PurchaseRequisitionExpenseList" />
          <xsd:element minOccurs="0" name="accountingBookDetailList" type="platformCommon:AccountingBookDetailList" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PurchaseRequisitionExpense">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="category" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="location" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="isClosed" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="account" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="poVendor" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="estimatedAmount" type="xsd:double" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="memo" type="xsd:string" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customer" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="linkedOrderList" type="platformCore:RecordRefList" />
      <xsd:element minOccurs="0" name="linkedOrderStatus" type="xsd:string" />
      <xsd:element minOccurs="0" name="isBillable" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PurchaseRequisitionExpenseList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="purchaseRequisitionExpense" type="tranPurch:PurchaseRequisitionExpense" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="PurchaseRequisitionItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="line" type="xsd:long" />
      <xsd:element minOccurs="0" name="item" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="vendorName" type="xsd:string" />
      <xsd:element minOccurs="0" name="poVendor" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="units" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="serialNumbers" type="xsd:string" />
      <xsd:element minOccurs="0" name="inventoryDetail" type="platformCommon:InventoryDetail" />
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="estimatedRate" type="xsd:double" />
      <xsd:element minOccurs="0" name="estimatedAmount" type="xsd:double" />
      <xsd:element minOccurs="0" name="rate" type="xsd:string" />
      <xsd:element minOccurs="0" name="amount" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxCode" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="taxRate1" type="xsd:double" />
      <xsd:element minOccurs="0" name="taxRate2" type="xsd:double" />
      <xsd:element minOccurs="0" name="grossAmt" type="xsd:double" />
      <xsd:element minOccurs="0" name="options" type="platformCore:CustomFieldList" />
      <xsd:element minOccurs="0" name="department" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="class" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="customer" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="isBillable" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="linkedOrderList" type="platformCore:RecordRefList" />
      <xsd:element minOccurs="0" name="linkedOrderStatus" type="xsd:string" />
      <xsd:element minOccurs="0" name="expectedReceiptDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="isClosed" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="expandItemGroup" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PurchaseRequisitionItemList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="purchaseRequisitionItem" type="tranPurch:PurchaseRequisitionItem" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="inboundShipment" type="tranPurch:InboundShipment" />
  <xsd:complexType name="InboundShipment">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:Record">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="customForm" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="shipmentNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="externalDocumentNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="shipmentStatus" type="tranPurchTyp:InboundShipmentShipmentStatus" />
          <xsd:element minOccurs="0" name="expectedShippingDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="actualShippingDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="expectedDeliveryDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="actualDeliveryDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="shipmentMemo" type="xsd:string" />
          <xsd:element minOccurs="0" name="vesselNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="billOfLading" type="xsd:string" />
          <xsd:element minOccurs="0" name="landedCostList" type="tranPurch:InboundShipmentLandedCostList" />
          <xsd:element minOccurs="0" name="itemsList" type="tranPurch:InboundShipmentItemsList" />
          <xsd:element minOccurs="0" name="shipmentBaseCurrency" type="platformCore:RecordRef" />
          <xsd:element minOccurs="0" name="customFieldList" type="platformCore:CustomFieldList" />
        </xsd:sequence>
        <xsd:attribute name="internalId" type="xsd:string" />
        <xsd:attribute name="externalId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InboundShipmentItems">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="id" type="xsd:long" />
      <xsd:element minOccurs="0" name="purchaseOrder" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="shipmentItem" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="shipmentItemDescription" type="xsd:string" />
      <xsd:element minOccurs="0" name="poVendor" type="xsd:string" />
      <xsd:element minOccurs="0" name="receivingLocation" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="quantityReceived" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityExpected" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantityRemaining" type="xsd:double" />
      <xsd:element minOccurs="0" name="unit" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="poRate" type="xsd:double" />
      <xsd:element minOccurs="0" name="expectedRate" type="xsd:double" />
      <xsd:element minOccurs="0" name="shipmentItemAmount" type="xsd:double" />
      <xsd:element minOccurs="0" name="poCurrency" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="incoterm" type="platformCore:RecordRef" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InboundShipmentItemsList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="inboundShipmentItems" type="tranPurch:InboundShipmentItems" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:element name="inboundShipmentSearch" type="tranPurch:InboundShipmentSearch" />
  <xsd:complexType name="InboundShipmentSearch">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="basic" type="platformCommon:InboundShipmentSearchBasic" />
          <xsd:element minOccurs="0" name="itemJoin" type="platformCommon:ItemSearchBasic" />
          <xsd:element minOccurs="0" name="itemReceiptJoin" type="platformCommon:TransactionSearchBasic" />
          <xsd:element minOccurs="0" name="purchaseOrderJoin" type="platformCommon:TransactionSearchBasic" />
          <xsd:element minOccurs="0" name="vendorJoin" type="platformCommon:VendorSearchBasic" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="customSearchJoin" type="platformCommon:CustomSearchJoin" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InboundShipmentSearchAdvanced">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="criteria" type="tranPurch:InboundShipmentSearch" />
          <xsd:element minOccurs="0" name="columns" type="tranPurch:InboundShipmentSearchRow" />
        </xsd:sequence>
        <xsd:attribute name="savedSearchId" type="xsd:string" />
        <xsd:attribute name="savedSearchScriptId" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InboundShipmentSearchRow">
    <xsd:complexContent mixed="false">
      <xsd:extension base="platformCore:SearchRow">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="basic" type="platformCommon:InboundShipmentSearchRowBasic" />
          <xsd:element minOccurs="0" name="itemJoin" type="platformCommon:ItemSearchRowBasic" />
          <xsd:element minOccurs="0" name="itemReceiptJoin" type="platformCommon:TransactionSearchRowBasic" />
          <xsd:element minOccurs="0" name="purchaseOrderJoin" type="platformCommon:TransactionSearchRowBasic" />
          <xsd:element minOccurs="0" name="vendorJoin" type="platformCommon:VendorSearchRowBasic" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="customSearchJoin" type="platformCommon:CustomSearchRowBasic" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InboundShipmentLandedCost">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="landedCostCostCategory" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="landedCostAmount" type="xsd:double" />
      <xsd:element minOccurs="0" name="landedCostCurrency" type="platformCore:RecordRef" />
      <xsd:element minOccurs="0" name="landedCostExchangeRate" type="xsd:double" />
      <xsd:element minOccurs="0" name="landedCostEffectiveDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="landedCostAllocationMethod" type="tranPurchTyp:InboundShipmentLandedCostAllocationMethod" />
      <xsd:element minOccurs="0" name="landedCostShipmentItemsList" type="platformCore:RecordRefList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InboundShipmentLandedCostList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="inboundShipmentLandedCost" type="tranPurch:InboundShipmentLandedCost" />
    </xsd:sequence>
    <xsd:attribute default="true" name="replaceAll" type="xsd:boolean" />
  </xsd:complexType>
</xsd:schema>